.form-add {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    border: 2px solid #ccc;
}
.block-form {
    padding: 30px 20px;
    border: 1px solid #ccc;
    margin: 20px 30px;
}
.span-title {
    display: block;
    padding: 10px 0;
}
.btn-save {
    background: transparent;
    border: 2px solid #282c34;
    padding:  5px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}
.description {
    width: 100%;
    margin-top: 20px;
}
.title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}