.header {
    padding: 30px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    float: left;
    text-decoration: none;
    font-size: 22px;
    color: #282c34;
}

.nav-ul {
    padding: 0;
    margin: 0;
    float: right;
}
.nav-ul li{
    display: inline-block;
    padding: 0 10px;
    border-right: 2px solid #282c34;
}
.nav-ul li:last-child {
    border: none;
}
.link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #282c34;

}
