.onePost {
    border: 1px solid #ccc;
    margin: 20px 30px;
    padding: 20px 20px;
}
.delete {
    border: 1px solid orangered;
    background: orangered;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 10px;
    color:#fff;
}
.edit {
    border: 1px solid steelblue;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: steelblue;
    color: #fff;
}