.Post {
    border: 1px solid #ccc;
    margin: 0 20px;
    padding: 0 20px;
}
.post-title {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}
.btn-link {
    border: 1px solid #cdcdcd;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: transparent;
}
.text-title {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
}
.description {
    font-size: 22px;
}